APP_DOMAIN=plataforma.tudominio.com
POSTGRES_DB=gtm
POSTGRES_USER=gtm
POSTGRES_PASSWORD=cambia-esta-contrasena
GTM_ADMIN_EMAIL=gtm@gtm.es
GTM_ADMIN_PASSWORD=cambia-esta-contrasena
LOZANO_USER_EMAIL=cliente@productoslozano.es
LOZANO_USER_PASSWORD=cambia-esta-contrasena
LOZANO_AGENT_TOKEN=cambia-este-token-largo
